
#page-title {
    color: #444;
    width: 465px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
}

#show-info {
    margin-right: auto;
    margin-left: auto;
    margin-top:15px;
    width: 550px;
    padding-left: 23px;
    padding-top: 10px;
    padding-bottom: 30px;
}

#payouts, #merch, #expenses {
    margin-right: auto;
    margin-left: auto;
    margin-top:50px;
    width:550px;
    padding-left:23px;
    padding-top: 30px;
    padding-bottom: 30px;
    border-top: 1px solid lightgray;

}

.section-headings {
    padding-left: auto;
    padding-right: auto;
    color: deeppink;
}

.labels {
    color:lightgray;
}

#city_ {
    width: 350px;
    display: inline-block;
}

#state_ {
    display:inline-block;
    width:144px;
}

#row2 {
    display: inline-block;
    width: 500px;
}

#row3 {
    display: inline-block;
    width:500px;
    padding-top:10px;
}

#promoter_ {
    display: inline-block;
    width: 350px;
}

#capacity_ {
    display: inline-block;
    width: 144px;
}

#row5 {
    display: inline-block;
    width: 164px;
}

#row6 {
    display: inline-block;
    width: 500px;
}

label {
    font-family: arial;
    font-weight: lighter;
    color: gray;
}

#payout {
    width: 500px;
}

#merch-item {
    display: inline-block;
    width: 275px;
}

#qty, #qty1 {
    display: inline-block;
    width: 144px;
}

#x, #xMerch, #xExpense {
    display: inline-block;
    width: 50px;
    padding-bottom: 5px;
}

#expense, #expense1 {
    display: inline-block;
    width: 200px;
}

#category, #category1 {
    display: inline-block;
    width: 125px;
}

#cost, #cost1 {
    display: inline-block;
    width: 94px;
}

#add-item, #add-expense {
    font-weight: bold;
    font-size: small;
    color: dodgerblue;
    text-decoration: underline;
}

table {
    width: 500px;
}

.white-popup-block {
  background: #FFF;
  padding: 20px 30px;
  text-align: left;
  max-width: 650px;
  margin: 40px auto;
  position: relative;
}

.merch-row {
    display: table-row;
}

